description = "卫生局导航栏模块"

[viewBag]
==
<div id="main_nav">
    <dl style="left:0;">
        <dt ><a href="http://zwgk.huizhou.gov.cn/0057/zwgkList.shtml">政务公开</a></dt>
    </dl>
     <dl style="left:134px;">
        <dt><a href="http://wsbs.huizhou.gov.cn/portal/home.seam">网上服务</a></dt>
    </dl>
    <dl style="left:268px;">
        <dt><a href="/message">政民互动</a></dt>
        <dd><a href="/message">群众留言板</a></dd>
        <dd><a href="mailto:suozhang_huizhou@163.com">所长信箱</a></dd>
        <dd><a href="/notice/msgCollect">调查征集</a></dd>
    </dl>
    <dl style="left:402px;">
        <dt><a href="/organization">组织机构</a></dt>
        <dd><a href="/organization/condition">机构概况</a></dd>
        <dd><a href="/organization/leadclass">领导班子</a></dd>
        <dd><a href="/organization/inter_organ">内设科室</a></dd>
        <dd><a href="/organization/contact">联系方式</a></dd>
    </dl>
    <dl style="left:536px;">
        <dt><a href="/work/dynamic">工作动态</a></dt>
    </dl>
    <dl style="left:670px;">
        <dt><a href="/notice">通告公示</a></dt>
        <dd><a href="/notice/public">公示</a></dd>
        <dd><a href="/notice/lighthouse">曝光台</a></dd>
        <dd><a href="/law">法律法规</a></dd>
    </dl>
    <dl style="left:804px;">
        <dt><a href="/gov_window">党建之窗</a></dt>
        <dd><a href="/gov_window/gov_organ">党组织机构</a></dd>
        <dd><a href="/gov_window/gov_work">党工作动态</a></dd>
    </dl>

</div>